<header>
  <a routerLink="/" id="title">AR Audio Visualizer</a>
  <div id="header-btns">
    <a routerLink="/sign-up" class="ar-btn" *ngIf="!isAuth">Sign Up</a>
    <a routerLink="/sign-in" class="ar-btn" *ngIf="!isAuth">Sign In</a>
    <a routerLink="/visualizations" class="ar-btn" *ngIf="isAuth"
      >Visualizations</a
    >
    <a routerLink="/new-visualization" class="ar-btn" *ngIf="isAuth"
      >Create Visualization</a
    >
    <a (click)="signOut()" class="ar-btn" *ngIf="isAuth">Sign Out</a>
  </div>
</header>
