// The below code was taken from StackOverflow https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;

  #footer {
    margin-top: auto;
  }
}
