:host {
  margin-top: auto;
}

#new-visualization-form {
  margin: 40px auto;
  width: 50%;

  .ar-btn {
    margin-top: 20px;
    max-width: fit-content;
  }

  #audio-inputs {
    display: flex;
    align-items: center;
  }

  #audio-wrapper {
    margin: 10px 0;
  }

  #audio-inputs > *,
  #audio-wrapper > * {
    margin-right: 20px;
  }

  #microphone-icon:hover {
    color: gray;
  }

  #stop-icon {
    color: red;
  }

  #recording {
    color: red;
    margin: 0;
  }

  #audio-wrapper {
    display: flex;
    align-items: center;
  }

  #trash-icon:hover {
    color: red;
  }

  select {
    margin: 5px 0;
    padding: 5px;
  }

  fieldset {
    margin-bottom: 5px;

    legend {
      font-size: 1.2em;
    }

    .button-wrapper {
      margin: 5px 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 20px;

      input:disabled {
        cursor: not-allowed;
        filter: grayscale(100%);
        opacity: 0.4;
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 10px;
    }

    input[type="color"] {
      margin-left: 10px;
    }

    input[type="radio"] + label {
      border: 1px solid transparent;
      padding: 3px 5px;
    }

    input[type="radio"]:checked + label {
      border: 1px solid black;
      border-radius: 3px;
      padding: 3px 5px;
    }
  }
}

@media (max-width: 576px) {
  #new-visualization-form {
    width: 80%;
    align-items: center;
    text-align: center;

    #audio-inputs {
      justify-content: center;
    }
  }
}
