<app-header></app-header>
<form
  class="styled-form row"
  id="sign-in-form"
  (submit)="signIn()"
  [formGroup]="signInForm"
>
  <h2 class="form-title col-12">Sign In</h2>
  <div class="input-wrapper col-12">
    <label>Username</label>
    <input
      type="text"
      name="username"
      placeholder="Username"
      formControlName="username"
      required
    />
  </div>
  <div class="input-wrapper col-12">
    <label>Password</label>
    <input
      type="password"
      name="password"
      placeholder="Password"
      formControlName="password"
      required
    />
  </div>

  <div class="error col-12" *ngIf="error">{{ error }}</div>

  <button
    [disabled]="signInForm.invalid"
    type="submit"
    id="sign-in-btn"
    class="ar-btn col-12"
  >
    Sign In
  </button>
</form>
