:host {
  margin-top: auto;
}

#index-body {
  text-align: center;
  margin: 20px auto;
  padding: 0 20px;

  #title {
    font-weight: bolder;
    font-size: clamp(32px, 5vw, 46px);
  }

  #subtitle {
    font-size: clamp(20px, 3vw, 26px);
  }
}

#background {
  position: fixed;
  top: 0;
  height: 500px;
  width: 100%;
  z-index: -1;
}
