#pagination-wrapper {
  justify-content: center;
  display: flex;
  margin: 20px 0;
}

#title {
  text-align: center;
  margin: 20px 0;
}

#cards-container {
  margin: auto;
  max-width: 90%;

  .vis-card {
    margin: 20px 0;
  }
}

@media (max-width: 1024px) {
  #cards-container {
    justify-content: center;
  }
}

.instruction {
  margin: auto;
  padding: 20px;
  max-width: 900px;
  font-size: clamp(18px, 2vw, 22px);
  text-align: center;
}
