.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 3px black solid;
  justify-content: space-between;
  width: 300px;
  min-height: 300px;
  max-width: 100%;
  margin: 0 auto;

  .vis-title {
    margin: 20px;
    text-align: center;
  }

  .vis-title:hover {
    color: gray;
    cursor: pointer;
  }

  .icons-container {
    align-self: flex-end;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;

    .icon {
      margin-left: 20px;
    }

    .delete-icon:hover {
      color: red;
    }

    .edit-icon:hover, .download-icon:hover {
      color: gray;
    }
  }

  .icons-container:hover {
    cursor: auto;
  }
}

.card:hover {
  cursor: pointer;

  .icons-container {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.1s linear;
  }
}

#edit-vis-form {
  .input-wrapper {
    margin: 10px 0;
  }
}

.btn-container > button {
  margin-right: 10px;
}
