/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Montserrat';
    src: url('assets/font/Montserrat.ttf');
}

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: black;
    padding: 10px;

}