<form
  class="styled-form"
  id="new-visualization-form"
  (submit)="onSubmit()"
  [formGroup]="newVisForm"
>
  <h2 class="form-title">New Visualization</h2>
  <div class="input-wrapper">
    <label>Visualization Title</label
    ><input
      type="text"
      name="title"
      formControlName="title"
      placeholder="Title"
      required
    />
  </div>

  <div
    class="error"
    *ngIf="
      newVisForm.controls['title'].invalid &&
      (newVisForm.controls['title'].dirty ||
        newVisForm.controls['title'].touched)
    "
  >
    <div *ngIf="newVisForm.controls['title'].errors?.['required']">
      Title is required
    </div>

    <div *ngIf="newVisForm.controls['title'].errors?.['minlength']">
      Title must be at least 3 characters
    </div>
  </div>

  <div class="input-wrapper">
    <label>Audio File</label>
    <input
      type="file"
      name="audio"
      accept="audio/*"
      (change)="soundFileChanged($event)"
      required
    />
  </div>
  <button type="submit" class="btn" [disabled]="newVisForm.invalid">
    Submit
  </button>
</form>
