footer {
  background-color: black;
  height: fit-content;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
  position: fixed;

  a {
    text-decoration: none;
    color: white;
  }
}
