#sign-up-form {
  margin: 20px auto;
  width: 40%;

  #sign-up-btn {
    margin: 10px 0;
    width: fit-content;
  }
}

@media (max-width: 576px) {
  #sign-up-form {
    width: 80%;
    align-items: center;
    text-align: center;
  }
}
