<a-scene embedded (click)="startVisualization()">
  <a-cylinder
    position="-2 0.75 -2.5"
    radius="0.5"
    [attr.height]="cylinderHeight"
    [attr.color]="cylinderColor"
  ></a-cylinder>
  <a-box
    position="-1 0.5 -3.2"
    rotation="0 45 0"
    [attr.height]="boxHeight"
    [attr.color]="boxColor"
  ></a-box>
  <a-sphere
    position="0 1.25 -5"
    [attr.radius]="sphereRadius"
    [attr.color]="sphereColor"
  ></a-sphere>
  <a-cylinder
    position="1 0.75 -3"
    radius="0.5"
    [attr.height]="cylinderHeight"
    [attr.color]="cylinderColor"
  ></a-cylinder>
  <a-box
    position="2.2 0.5 -2.75"
    rotation="0 45 0"
    [attr.height]="boxHeight"
    [attr.color]="boxColor"
  ></a-box>
  <a-sphere
    time-sphere
    *ngFor="let sphere of timeSpheres"
    [attr.position]="sphere.position"
    [attr.radius]="sphere.radius"
    [attr.color]="sphere.color"
  ></a-sphere>
  <a-sky [attr.color]="skyColor"></a-sky>
</a-scene>

<audio
  #audio
  controls
  src="../../../assets/Lunar-Beast-Theme-v7.2_Final.wav"
></audio>
