<h2 id="title">{{ visualization.title }}</h2>
<div id="visualization-container">
  <button id="play" class="ar-btn" *ngIf="displayPlayBtn">Play</button>
  <a-scene
    embedded
    vr-mode-ui="enabled: false"
    arjs="sourceType: webcam; debugUIEnabled: false;"
    (click)="startVisualization()"
  >
    <a-marker type="pattern" url="../../../assets/pattern-music-solid.patt">
      <ng-container *ngFor="let entity of freqEntities">
        <a-cylinder
          *ngIf="entity.type === 'a-cylinder'"
          [attr.position]="entity.position"
          [attr.radius]="entity.radius"
          [attr.height]="entity.height"
          [attr.color]="entity.color"
        ></a-cylinder>
        <a-box
          *ngIf="entity.type === 'a-box'"
          [attr.position]="entity.position"
          [attr.rotation]="entity.rotation"
          [attr.width]="entity.width"
          [attr.height]="entity.height"
          [attr.color]="entity.color"
        ></a-box>
        <a-sphere
          *ngIf="entity.type === 'a-sphere'"
          [attr.position]="entity.position"
          [attr.radius]="entity.radius"
          [attr.color]="entity.color"
        ></a-sphere>
      </ng-container>
      <ng-container *ngFor="let entity of timeEntities">
        <a-cylinder
          time-entity
          *ngIf="entity.type === 'a-cylinder'"
          [attr.position]="entity.position"
          [attr.radius]="entity.radius"
          [attr.height]="entity.height"
          [attr.color]="entity.color"
        ></a-cylinder>
        <a-box
          time-entity
          *ngIf="entity.type === 'a-box'"
          [attr.position]="entity.position"
          [attr.rotation]="entity.rotation"
          [attr.width]="entity.width"
          [attr.height]="entity.height"
          [attr.color]="entity.color"
        ></a-box>
        <a-sphere
          time-entity
          *ngIf="entity.type === 'a-sphere'"
          [attr.position]="entity.position"
          [attr.radius]="entity.radius"
          [attr.color]="entity.color"
        ></a-sphere>
      </ng-container>
      <a-plane
        position="0 0 0"
        rotation="-90 0 0"
        width="4"
        height="4"
        [attr.color]="planeColor"
      ></a-plane>
      <a-sky color="blue"></a-sky>
    </a-marker>
    <a-entity camera></a-entity>
  </a-scene>

  <div #formContainer id="form-container" class="hide-form">
    <div id="drag-tab" (click)="toggleForm()">
      <fa-icon *ngIf="formHidden" class="icon" icon="caret-left" size="2x"></fa-icon>
      <fa-icon *ngIf="!formHidden" class="icon" icon="caret-right" size="2x"></fa-icon>
    </div>
    <form
      class="styled-form"
      id="edit-visualization-form"
      [formGroup]="editVisForm"
      (submit)="onSubmit()"
    >
      <fieldset>
        <legend>Waveform</legend>

        <div class="button-wrapper">
          <div>
            <label for="timeColor">Color</label>
            <input
              type="color"
              id="timeColor"
              name="timeColor"
              formControlName="timeColor"
            />
          </div>
          <div>
            <input
              type="checkbox"
              id="defaultTimeColor"
              name="defaultTimeColor"
              formControlName="defaultTimeColor"
              (change)="toggleTimeColor()"
              checked
            />
            <label for="defaultTimeColor">Default</label>
          </div>
        </div>

        <ng-container formArrayName="newTimeEntities">
          <div
            class="radio-wrapper"
            *ngFor="let control of newTimeEntities.controls; let i = index"
          >
            <label>Shape {{ i + 1 }}</label>
            <div class="button-wrapper">
              <ng-container *ngFor="let entity of entityTypes; let j = index">
                <div>
                  <input
                    type="radio"
                    id="timeEntities{{ i }}{{ entity }}"
                    name="timeEntities{{ i }}"
                    [formControl]="newTimeEntities.controls[i]"
                    [value]="entity"
                  />
                  <label for="timeEntities{{ i }}{{ entity }}">{{
                    entity.charAt(0).toUpperCase() + entity.slice(1)
                  }}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </fieldset>

      <div class="line"></div>

      <fieldset>
        <legend>Barform</legend>

        <div class="button-wrapper">
          <div>
            <label for="freqColor">Color</label>
            <input
              type="color"
              id="freqColor"
              name="freqColor"
              formControlName="freqColor"
            />
          </div>
          <div>
            <input
              type="checkbox"
              id="defaultFreqColor"
              name="defaultFreqColor"
              formControlName="defaultFreqColor"
              (change)="toggleFreqColor()"
              checked
            />
            <label for="defaultFreqColor">Default</label>
          </div>
        </div>

        <ng-container formArrayName="newFreqEntities">
          <div
            class="radio-wrapper"
            *ngFor="let control of newFreqEntities.controls; let i = index"
          >
            <label>Shape {{ i + 1 }}</label>
            <div class="button-wrapper">
              <ng-container *ngFor="let entity of entityTypes; let j = index">
                <div>
                  <input
                    type="radio"
                    id="freqEntities{{ i }}{{ entity }}"
                    name="freqEntities{{ i }}"
                    [formControl]="newFreqEntities.controls[i]"
                    [value]="entity"
                  />
                  <label for="freqEntities{{ i }}{{ entity }}">{{
                    entity.charAt(0).toUpperCase() + entity.slice(1)
                  }}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </fieldset>
      <button type="submit" class="ar-btn" [disabled]="editVisForm.invalid">
        Update Permanently
      </button>
    </form>
  </div>

  <audio
    #audio
    controls
    crossorigin="use-credentials"
    [attr.src]="audioSource"
  ></audio>
</div>
